---
layout: page
published : true



section-links:
  - id: "#projects"
    title: "Projects We Are Monitoring"
  - id: "#about"
    title: "About"



---
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/lincoln-park-south/IMG_5756.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5757.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5759.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5760.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/westcrest-play-area/IMG_5856.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/westcrest-play-area/IMG_5857.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/hiawatha-play-area/IMG_5859.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/hiawatha-play-area/IMG_5860.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container py-5">
  <p class="lead">Seattle Parks and Recreation has a documented history of removing play areas and other features with no coherent plan for their timely replacement. <strong>Today we ask...</strong></p>
</div>

  <h1 class="display-1 text-center">{{ site.title }}</h1>

{% include navbar.html %}

<div id="projects" class="container-fluid text-bg-light">
  <div class="container py-5">
  
      <h2 class="display-3 text-center">Projects We Are Monitoring</h2>

     	{% assign park = site.parks %}      
      <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-4">
     	{% for p in park %}
        <div class="col-12">
          <div class="card text-bg-success mb-3 h-100 w-100">
            <img src="{{ p.open-graph.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <p class="card-text">{{ p.description | truncate: 135 }}</p>
            </div>
            <div class="card-footer">
              <a href="{{ p.url }}" class="btn btn-warning stretched-link">More Detail</a>
            </div>
            {% if p.ribbon-text %}
            <div class="ribbon">{{ p.ribbon-text }}</div>
            {% endif %}
          </div> <!-- end card -->
        </div>
      {% endfor %}
      </div> <!-- end row -->
  </div>
</div>

<div id="about" class ="container-fluid bg-secondary text-light">
  <div class="container py-5">
      <h2 class="display-3 text-center">About</h2>
      
      <p><strong>Where Is Our Playground</strong> is a loose group of citizens, each of whom cares about our park system, and cares that Seattle Parks has not been effective in their communications with the citizens of Seattle.  A park is added to our "radar" when an individual brings it to our attention.  We then ask that individual to gather some information, and join us in maintaining these pages.  Some contributors can code, others just gather information about a specific park or two.  If you are interested in joing us, you may contribute using at <a href="{{ site.github-url }}" target="_blank" class="link-light">GitHub</a>.

  </div>
</div>