---
layout: home
published : false
---
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/IMG_5756.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5757.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5759.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5760.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container py-5">
  <p class="lead">In <strong>July 2017</strong>, after having already removed the zip line swing from the Lincoln Park South Play Area, Seattle Parks closed and subsequently removed the play structure citing termite damage as the reason.  Over the intervening years Seattle Parks has published replacement schedule after replacement schedule, each time citing various delays.  <strong>Today we ask...</strong></p>
</div>

  <h1 class="display-1 text-center">{{ site.title }}</h1>

{% include navbar.html %}

{% include welcome.html %}

{% include timeline.html %}

{% include numbers.html %}







<div id="how-to-help" class="container-fluid">
  <div class="container py-5">
		<h2 class="display-3 text-center">How You Can Help</h2>
		<p>Seattle Parks is not a very responsive organization.  In fairness they are understaffed and underfunded like every other part of our city.  If you want change, you are going to have to work at it.  Here are some things you can do to help.
		
	<ol>
		<li><strong>Monitor the City's project page:</strong> <a href="https://www.seattle.gov/parks/about-us/projects/lincoln-park-south-play-area-renovation" target="_blank">https://www.seattle.gov/parks/about-us/projects/lincoln-park-south-play-area-renovation</a></li>
		<li><strong>Contact Shannon Glass</strong> at Seattle Parks.  Ask for a <mark>project update</mark> and a <mark>full accounting of the project's delays dating back to 2017.</mark>  Shannon can be reached by email at <a href="mailto:Shannon.Glass@seattle.gov">Shannon.Glass@seattle.gov</a> or by phone at <a href="tel:+12067339319">206-733-9319</a></li>
		<li><strong>Contact Councilmember Lisa Herbold.</strong>  Ask her when Parks will make good on one of their {{ site.data.numbers.number-of-delays }} delays since the start of the Lincoln Park South Play Area Replacement Project.  Council Member Herbold's contact info is here: <a href="https://www.seattle.gov/council/herbold" target="_blank">https://www.seattle.gov/council/herbold</a>
  </div>
</div>