---
layout: page
title: "E. C. Hughes Wading Pool" # The title of your page
description: "In March 2024 a water break was found at the E. C. Hughes playground in West Seattle.  Months later with summer heating up and after several repair attempts the park is still without water and without it's wading pool."
open-graph: 
    image: "" # image for facebook and google cards.  also used on homepage cards

published: true  # change to 'true' when you want to publish the page

ribbon-text: "NEW!" # blank, so the ribbon doesn't show

contact:  # Who is responsible for this page?

parks-dept: 
    link: https://www.seattle.gov/parks/allparks/ec-hughes-playground
    name: # Name of the person responsible for the project (from above website link)
    phone: "206-684-4075"
    email: # Email address of the person responsible for the project (from above website link)
    park-address: 2805 SW Holden St., Seattle, WA 98126
    
city-council: # enter your city council district below to have the information for your councillor added to the page.
    district: 1


# Each main .container-fluid below has a unique id.  Use that id here, to create links in the navbar to take you to each section.

section-links:
  - id: "#welcome"
    title: "Welcome"
  - id: "#timeline"
    title: "Timeline"
  - id: "#by-the-numbers"
    title: "By The Numbers"
  - id: "#how-to-help"
    title: "How To Help"


---




<!-- 
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <!~~ this first div will contain one or more landsape photos of your park.  Add the photos to .carousel-inner and make sure there are enought buttons.~~>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/IMG_5756.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5757.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5759.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/IMG_5760.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  {% if page.ribbon-text %}
  <div class="ribbon">{{ page.ribbon-text }}</div>
  {% endif %}
</div>
 -->

<div id="lead" class="container py-5">
<!~~ this div can contain the initial statement of your park's issue.~~>
  <p class="lead">In <strong>March 2024</strong> a water break was found at the E. C. Hughes playground in West Seattle.  Months later with summer heating up and after several repair attempts the park is still without water and without it's wading pool. <strong>Today we ask...</strong></p>
</div>

<!-- Keep the site title here... -->
<h1 class="display-1 text-center">Where Is Our Wading Pool&#8253;</h1>

<!-- ...and the navbar here -->
{% include navbar.html %}

<div id="welcome" class="container-fluid text-bg-success">
<!-- Your Welcome statement goes here -->
  <div class="container py-5">
      <h2 class="display-3 text-center">Welcome</h2>
      <p>In March of 2024, there was a water break at the E. C. Hughes Playground, "flooding the whole park."  Today, nearly four months later, the water has not been restored to E. C. Hughes.</p>
      <p>It begs the question, is Seattle Parks being run in an efficient and effective manner?  How are our taxpayer dollars being spent?  How do we trust the word of Seattle Parks again?</p>
  </div>
</div>


<div id="by-the-numbers" class="conatiner-fluid text-bg-secondary">
<!-- another div to contain a block of content -->
    <div class="container py-5">
        <h2 class="display-3 text-center">By The Numbers...</h2>
        <div class="row py-5">
            <div class="col">
                <p class="h1 display-1 text-center">{{ site.time | date: "%s"| minus: 1711436400 | divided_by: 3600 | divided_by: 24 }}</p>
                <p class="h3 text-center text-wrap"><small>number of days since water main break<br /><span class="fs-6">(March 26, 2024)</span></small></p>
            </div>
        </div>
    </div>
</div>

{% include how-to-help.html %}