---
layout: page
title: Lincoln Park (South)
description: "In July 2017, after having already removed the zip line swing from the Lincoln Park South Play Area, Seattle Parks closed and subsequently removed the play structure citing termite damage as the reason.  Over the intervening years Seattle Parks has published replacement schedule after replacement schedule, each time citing various delays."
keywords: [ "West Seattle", "Lincoln Park", "Fauntleroy", "Gatewood", "Arbor Heights", "Colman pool", "ferry", "Vashon", "Southworth" ]

open-graph: 
    image: "/assets/images/lincoln-park-south/IMG_5759.jpg"

ribbon-text: # blank, so the ribbon doesn't show

contact: "thewellington@gmail.com" # Who is responsible for this page?

parks-dept:
    link: "https://www.seattle.gov/parks/about-us/projects/lincoln-park-south-play-area-renovation"
    name: "Shannon Glass"
    phone: "206-733-9313"
    email: "Shannon.Glass@seattle.gov"

city-council:
    district: 1

section-links:
  - id: "#welcome"
    title: "Welcome"
  - id: "#timeline"
    title: "Timeline"
  - id: "#by-the-numbers"
    title: "By The Numbers"
  - id: "#how-to-help"
    title: "How To Help"
    
numbers:
    delays: 11

---
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/lincoln-park-south/IMG_5756.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5757.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5759.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5760.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  {% if page.ribbon-text %}
  <div class="ribbon">{{ page.ribbon-text }}</div>
  {% endif %}
</div>

<div id="lead" class="container py-5">
  <p class="lead">In <strong>July 2017</strong>, after having already removed the zip line swing from the Lincoln Park South Play Area, Seattle Parks closed and subsequently removed the play structure citing termite damage as the reason.  Over the intervening years Seattle Parks has published replacement schedule after replacement schedule, each time citing various delays.  <strong>Today we ask...</strong></p>
</div>

<h1 class="display-1 text-center">{{ site.title }}</h1>

{% include navbar.html %}

<div id="welcome" class="container-fluid text-bg-success">
  <div class="container py-5">
  
      <h2 class="display-3 text-center">Welcome</h2>
      <p>A half-generation of kids growing up near the South end of Lincoln Park have been without a playground they can easily access for almost six years. That is more than 2000 days!  Each time  Parks provides communication regarding this project it is only to push it back by another six months to a year.  Here we are now {{ site.data.numbers.number-of-delays }} updates later and we seem no closer to breaking ground on the promised play area replacement.</p>

      <p>It begs the question, is Seattle Parks being run in an efficient and effective manner?  How are our taxpayer dollars being spent?  How do we trust the word of Seattle Parks again?</p>
  </div>
</div>

<div id="timeline" class="container-fluid">
  <div class="container py-5">

    <h2 class="display-3 text-center">Timeline</h2>
    <div class="container">
            <div class="row">
                <div class="col-9">
                    <ul>
                        <li class="p-6">The Zip Line at the Lincoln Park South Playground was removed in <strong>April of 2017</strong>. <a href="https://westseattleblog.com/2017/04/lincoln-parks-original-ziplinecable-ride-is-gone-forever/">Lincoln Park’s original zipline/cable ride is gone forever.</a></li>

                        <li class="p-6">The Play Area at Lincoln Park South was closed suddenly in <strong>July of 2017</strong> by Seattle Parks, citing safety issues.</li>

                        <li class="p-6">In <strong>November of 2017</strong> Parks was hoping to start construction "next spring" <a href ="https://westseattleblog.com/2017/11/first-look-at-possibilities-for-lincoln-park-south-play-area-and-how-you-can-help-shape-its-future/" target="_blank">First look at possibilities for Lincoln Park South Play Area, and how you can help shape its future</a></li>

                        <li class="p-6">In <strong>January of 2018</strong> Susanne Rockwell said "We're working in coordination ... we'll open it as soon as we can." At the time Parks hoped to put the project out to bid and start construction "this summer" maybe as early as late spring. <a href="https://westseattleblog.com/2018/01/marine-theme-wins-for-new-lincoln-park-south-play-area-and-you-still-have-time-to-have-a-say/" target="_blank">Marine theme wins for new Lincoln Park South Play Area – and you still have time to have a say</a></li>

                        <li class="p-6">In <strong>November of 2018</strong> the "Fix It First" info board at Lincoln Park showed construction from "Spring 2018 - Summer 2018"</li>

                        <li class="p-6">In <strong>April of 2019</strong> Karen O'Conner stated "We anticipate putting this out to bin in early summer and start construction in the summer." <a href="https://westseattleblog.com/2019/04/followup-updates-on-3-west-seattle-parks-play-area-projects/" target="_blank">Followup: Updates on 3 West Seattle parks' play-area projects.</a></li>

                        <li class="p-6">In <strong>June of 2019</strong> Pamela Alspaugh said a team was working on Lincoln Park (which is "very far behind" but we are getting there) <a href ="https://westseattleblog.com/2019/06/fairmount-playground-south-play-area-renovation-options-for-equipment/" target="_blank">Fairmount Playground south play area renovation: See what's being considered</a></li>

                        <li class="p-6">In <strong>September of 2019</strong>, Kim Baldwin updated the Southwest District Council with the news that the Lincoln Park South Play Area was in design, with work to start in the fall of 2020 <a href="https://westseattleblog.com/2019/09/park-project-updates-southwest-district-council/">Park-project updates @ Southwest District Council</a></li>

                        <li class="p-6">In <strong>November of 2019</strong>, the Seattle Parks posted "This project has experienced some unforeseen delays. We anticipate the bid will be advertised in early 2020, with construction beginning in spring 2020."  Additionally Karen O'Conner said "Currently, Planning and Development has over six play area renovations going on across the city, and we've had to make some adjustments in our scheduling to ensure that all these projects can keep making progress." <a href ="https://westseattleblog.com/2019/11/followup-lincoln-park-south-play-area-project-delayed-again/" target="_blank">FOLLOWUP: Lincoln Park south play area project delayed again</a></li>

                        <li class="p-6">In <strong>March of 2020</strong> COVID hit Seattle and all the playgrounds were roped off.  However the swings at Lincoln Park South were removed from their A frame, rather than being taped up like all the other swings in the park (and at adjacent parks), despite their near constant use even after the play structure was removed.</li>

                        <li class="p-6">In <strong>March of 2020</strong> the "Fix It First" info board at Lincoln Park showed construction from "Spring Summer 2019" with an attached notice further delaying construction into Winter 2019/2020</li>

                        <li class="p-6">In <strong>May of 2021</strong> the Parks Department project site indicated that the Lincoln Park construction was now set for later "this fall."  <a href ="https://westseattleblog.com/2021/05/westcrest-park-play-structure-closed-to-be-replaced/" target="_blank">Westcrest Park play structure closed, to be replaced</a></li>

                        <li class="p-6">In <strong>April of 2022</strong> the project page claimed they received a building permit in March and expected to begin construction in "summer."</li>

                        <li class="p-6">In <strong>May of 2022</strong> the "Fix It First" info board at Lincoln Park now displayed the construction window would be from "Fall/Winter 2021 - Early 2022" </li>

                        <li class="p-6">In <strong>June of 2022</strong> Parks said of both Lincoln Park South, and Westcrest Park "Both projects will be bid together for construction by the same contractor. We anticipate the bid advertisement in summer 2022, with construction starting in fall 2022."  This also introduced a delay for the Westcrest project. <a href ="https://westseattleblog.com/2022/06/followup-new-timeline-for-lincoln-parks-long-closed-south-play-area/" target="_blank">FOLLOWUP: New timeline for Lincoln Park's long-closed South Play Area</a></li>

                        <li class="p-6">In <strong>August of 2022</strong> the "Fix It First" info board at Lincoln Park showed construction from "Fall 2022 - Winter 2023" </li>

                        <li class="p-6">in <strong>December of 2022</strong>, Parks updated the project website to say "We anticipate the bid advertisement in early 2023, with construction starting in spring 2023."</li>

                        <li class="p-6">At the end of <strong>February 2023</strong>, the Fix It First info board at Lincoln Park still claims construction between Fall 2022 - Winter 2023.</li> 

                        <li class="p-6">On <strong>March 31, 2023</strong>, The West Seattle Blog reported that Karen O'Conner at Parks says "We are on track to bid this spring and anticipate we will be in construction by this summer. We know this has taken time and are happy to say we are on track with this bidding schedule." of both Lincoln Park and Westcrest. <a href ="https://westseattleblog.com/2023/03/followup-checking-in-on-three-west-seattle-park-projects/" target="_blank">FOLLOWUP: Checking in on three West Seattle park projects</a></li>

                        <li class="p-6">On <strong>June 1, 2023</strong>, The West Seattle Blog reported that after years of delays, both the Lincoln Park South project, and the Westcrest project have finally gone out to bid!. <a href ="https://westseattleblog.com/2023/06/followup-two-long-delayed-west-seattle-play-area-projects-finally-go-out-to-bid/" target="_blank">FOLLOWUP: Two long-delayed West Seattle play-area projects finally go out to bid</a></li>

                        <li class="p-6">On <strong>June 1, 2023</strong>, The City of Seattle finally replied to a Public Document Request submitted on April 19th.  Documents are still pending, but we should have them in a few days.</li>

                        <li class="p-6">On <strong>September 11, 2023</strong>, The West Seattle Blog reported that according to Karen O'Conner with parks, "For the South Lincoln park Play Area, and Westcrest Play Area replacement projects, we will negotiate a start date with the contractor this fall..."  Construction is now "likely" to start in <strong>winter 2023/early 2024</strong>. <a href ="https://westseattleblog.com/2023/09/followup-contractor-chosen-but-long-delayed-west-seattle-play-area-projects-wont-be-done-before-next-year/" target="_blank">FOLLOWUP: Contractor chosen. But long-delayed West Seattle play area projects won’t be done before next year.</a></li>

<li class="p-6"><strong>November 2023</strong> - Contractor has been signed and work will begin Q1 2024. <a href="https://westseattleblog.com/2023/11/park-projects-meeting-report-2-west-seattle-off-leash-area-status-and-other-non-pickleball-notes/" target="_blank" class="">PARK PROJECTS MEETING, REPORT #2: West Seattle off-leash area status, and other non-pickleball notes</a></li>
                    </ul>
                </div>


                <div class="col">
                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">November, 2018</figcaption></figure></p>
                
                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">March, 2020</figcaption></figure></p>
                
                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">May, 2022</figcaption></figure></p>
                
                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">August, 2022</figcaption></figure></p> 
                
                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">February, 2023</figcaption></figure></p>

                <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5965.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5965.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">June, 2023</figcaption></figure></p>
                </div>
            </div>
        </div>
        <p>There are {{ page.numbers.delays }} delays included in the timeline above.</p>

    <p class="small">Source: <a href="https://www.fauntleroy.net/issues/lincoln-park-south-play-area-closure/" target="_blank">Fauntleroy Community Association</a>
  </div>
</div>

<div id="by-the-numbers" class="conatiner-fluid text-bg-success">
    <div class="container py-5">
        <h2 class="display-3 text-center">By The Numbers...</h2>
        <div class="row py-5">
            <div class="col border-end">
                <p class="h1 display-1 text-center">{{ page.numbers.delays }}</p>
                <p class="h3 text-center test-wrap"><small>delays since July 2017</small></p>
            </div>
            <div class="col border-end">
                <p class="h1 display-1 text-center">{{ site.time | date: "%s"| minus: 1499842800 | divided_by: 3600 | divided_by: 24 }}</p>
                <p class="h3 text-center text-wrap"><small>number of days since play area closure<br /><span class="fs-6">(July 12, 2017)</span></small></p>
            </div>
            <div class="col">
                <p class="h1 display-1 text-center">1631</p>
                <p class="h3 text-center text-wrap"><small>average number of elementary aged students enrolled in neighborhood schools each year<br /><span class="fs-6"> (Getewood, Arbor Heights, West Seattle Elem., and Roxhill)</span></small></p>
            </div>
        </div>
    </div>
</div>

{% include how-to-help.html %}