---
layout: page
title: Lincoln Park (South)
description: "In July 2017, after having already removed the zip line swing from the Lincoln Park South Play Area, Seattle Parks closed and subsequently removed the play structure citing termite damage as the reason.  Over the intervening years Seattle Parks has published replacement schedule after replacement schedule, each time citing various delays."
keywords: [ "West Seattle", "Lincoln Park", "Fauntleroy", "Gatewood", "Arbor Heights", "Colman pool", "ferry", "Vashon", "Southworth" ]

open-graph: 
    image: "/assets/images/lincoln-park-south/IMG_5759.jpg"

ribbon-text: "Completed 8/2/24" # blank, so the ribbon doesn't show

contact: "thewellington@gmail.com" # Who is responsible for this page?

parks-dept:
    link: "https://www.seattle.gov/parks/about-us/projects/lincoln-park-south-play-area-renovation"
    name: "Shannon Glass"
    phone: "206-733-9313"
    email: "Shannon.Glass@seattle.gov"

city-council:
    district: 1

section-links:
  - id: "#welcome"
    title: "Welcome"
  - id: "#timeline"
    title: "Timeline"
  - id: "#by-the-numbers"
    title: "By The Numbers"
  - id: "#how-to-help"
    title: "How To Help"
    
numbers:
    delays: 13
    start-time: 1499842800 # july 12, 2017
    end-time: 1722660840   # aug 2, 2024 21:54
    students: 1631
    
---
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/lincoln-park-south/IMG_5756.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5757.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5759.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/lincoln-park-south/IMG_5760.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  {% if page.ribbon-text %}
  <div class="ribbon">{{ page.ribbon-text }}</div>
  {% endif %}
</div>

<div id="lead" class="container py-5">
  <p class="lead">In <strong>July 2017</strong>, after having already removed the zip line swing from the Lincoln Park South Play Area, Seattle Parks closed and subsequently removed the play structure citing termite damage as the reason.  Over the intervening years Seattle Parks has published replacement schedule after replacement schedule, each time citing various delays.  <strong>Today we ask...</strong></p>
</div>

<h1 class="display-1 text-center">{{ site.title }}</h1>

{% include navbar.html %}

<div id="welcome" class="container-fluid text-bg-success">
  <div class="container py-5">
  
    <h2 class="display-3 text-center">Welcome</h2>
    <p>A half-generation of kids growing up near the South end of Lincoln Park have been without a playground they can easily access for almost six years. That is more than 2000 days!  Each time  Parks provides communication regarding this project it is only to push it back by another six months to a year.  Here we are now {{ site.data.numbers.number-of-delays }} updates later and we seem no closer to breaking ground on the promised play area replacement.</p>
  
    <p>It begs the question, is Seattle Parks being run in an efficient and effective manner?  How are our taxpayer dollars being spent?  How do we trust the word of Seattle Parks again?</p>
  </div>
</div>

<div id="timeline" class="container-fluid">
  <div class="container py-5">

    <h2 class="display-3 text-center">Timeline</h2>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <p class="text-center"><mark>highlighted lines</mark> call out date commitments from Seattle Parks, hovering over (DETAILS) will show how that commitment was missed</p> 
          <ul>
          {% for entry in site.data.parks.lincoln-park-south-playground %}
          {% if entry.delay %}
          <li class="p-6"><mark><strong>{{ entry.date | date: "%B %e, %Y" }}</strong> -- {{ entry.pre }} <a href="{{ entry.link }}" target="_blank">{{ entry.link-text }}</a> {{ entry.post }} <abbr title="{{ entry.delay }}">(DETAILS)</abbr></mark></li>
          {% else %}
          <li class="p-6"><strong>{{ entry.date | date: "%B %e, %Y" }}</strong> -- {{ entry.pre }} <a href="{{ entry.link }}" target="_blank">{{ entry.link-text }}</a> {{ entry.post }}</li>
          {% endif %}          
          {% endfor %}
          </ul>
        </div>
  
  
        <div class="col">
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">November, 2018</figcaption></figure></p>
          
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">March, 2020</figcaption></figure></p>
          
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">May, 2022</figcaption></figure></p>
          
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">August, 2022</figcaption></figure></p> 
          
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">February, 2023</figcaption></figure></p>
  
          <p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5965.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5965.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">June, 2023</figcaption></figure></p>
          </div>
      </div>
        </div>
        <p>There are {{ page.numbers.delays }} delays included in the timeline above.</p>

    <p class="small">Source: <a href="https://www.fauntleroy.net/issues/lincoln-park-south-play-area-closure/" target="_blank">Fauntleroy Community Association</a>
  </div>
</div>

<div id="by-the-numbers" class="conatiner-fluid text-bg-success">
  <div class="container py-5">
    <h2 class="display-3 text-center">By The Numbers...</h2>
    <div class="row py-5">
      <div class="col border-end">
        <p class="h1 display-1 text-center">{{ page.numbers.delays }}</p>
        <p class="h3 text-center test-wrap"><small>delays since July 2017</small></p>
      </div>
      <div class="col border-end">
        <p class="h1 display-1 text-center">{{ page.numbers.end-time | date: "%s"| minus: page.numbers.start-time | divided_by: 3600 | divided_by: 24 }}</p>
        <p class="h3 text-center text-wrap"><small>number of days since play area closure<br /><span class="fs-6">(July 12, 2017 to Aug 2, 2024)</span></small></p>
      </div>
      <div class="col">
        <p class="h1 display-1 text-center">{{ page.numbers.students }}</p>
        <p class="h3 text-center text-wrap"><small>average number of elementary aged students enrolled in neighborhood schools each year<br /><span class="fs-6"> (SPS enrollment numbers for Getewood, Arbor Heights, West Seattle Elem., and Roxhill)</span></small></p>
      </div>
    </div>
  </div>
</div>

{% include how-to-help.html %}


