---
layout: page
title: Westcrest Park Play Area
description: "In January of 2021, Seattle Parks abrupty closed the Westcrest Play Area, providing instead a promised replacement schedule.  Over the intervening years Seattle Parks has published revised schedule after revised schedule, each time citing various delays."
keywords: [ "West Seattle", "Westcrest Park" ]
open-graph: 
    image: "/assets/images/westcrest-play-area/IMG_5854.jpg"

ribbon-text:  "Project Complete" # blank, so the ribbon doesn't show

contact:  # Who is responsible for this page?

parks-dept:
    link: "https://www.seattle.gov/parks/allparks/westcrest-park"
    name: "Shannon Glass"
    phone: "206-733-9313"
    email: "Shannon.Glass@seattle.gov"

city-council:
    district: 1

# Each main .container-fluid below has a unique id.  Use that id here, to create links in the navbar to take you to each section.

section-links:
  - id: "#welcome"
    title: "Welcome"
  - id: "#timeline"
    title: "Timeline"
  - id: "#by-the-numbers"
    title: "By The Numbers"
  - id: "#how-to-help"
    title: "How To Help"
    
delays: 4

---
<div id="carouselSplash" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselSplash" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/westcrest-play-area/IMG_5854.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/westcrest-play-area/IMG_5855.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/westcrest-play-area/IMG_5856.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/westcrest-play-area/IMG_5857.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  {% if page.ribbon-text %}
  <div class="ribbon">{{ page.ribbon-text }}</div>
  {% endif %}
</div>

<div id="lead" class="container py-5">
  <p class="lead">In <strong>January of 2021</strong>, Seattle Parks abrupty closed the Westcrest Play Area, providing instead a promised replacement schedule.  Over the intervening years Seattle Parks has published revised schedule after revised schedule, each time citing various delays.  <strong>Today we ask...</strong></p>
</div>

<h1 class="display-1 text-center">{{ site.title }}</h1>

{% include navbar.html %}

<div id="welcome" class="container-fluid text-bg-success">
  <div class="container py-5">
  
      <h2 class="display-3 text-center">Welcome</h2>
      <p>It has been over two years since Seattle Parks closed Westcrest Play Area citing safety issues.  Each time Parks provides communication regarding this project it is only to delay construction another six months to a year.  Here we are now six updates later and we seem no closer to breaking ground on the promised play area replacement.</p>

      <p>It begs the question, is Seattle Parks being run in an efficient and effective manner?  How are our taxpayer dollars being spent?  How do we trust the word of Seattle Parks again?</p>
  </div>
</div>

<div id="timeline" class="container-fluid">
  <div class="container py-5">

    <h2 class="display-3 text-center">Timeline</h2>
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="p-6"><strong>January 2021</strong> - Westcrest playground is fenced off after a structural survey deemed repairs were beyond minor replacements and the 19 year old structure was one year away from it's 20-year life.</li>

                        <li class="p-6"><strong>January 2021</strong> - Karen O'Connor states "We understand that closure of the structure is disappointing, and we are planning on a short replacement timeline."</li>

                        <li class="p-6"><strong>February 2022</strong> - Oliver Bazinet states "Basically, we are no longer able to use a more streamlined purchasing mechanism that we previously used for installation of play equipment at this scale. We’ve adjusted to a strategy of including this work as part of a larger bid package. A new (to this project) project manager has been assigned and I have requested that they keep you up to date when they have a more firm timeline."</li>

                        <li class="p-6"><strong>March 2022</strong> - Website updated to indicate bids will go out in Summer of 2022 with installation to complete in Fall of 2022.</li>

                        <li class="p-6"><strong>August 2022</strong> - No bids went out. Karen O'Connor says "We anticipate the project going out to bid in the fall. We have bundled this project with the Lincoln Park South Play Area."</li>

                        <li class="p-6"><strong>December 2022</strong> - Shannon Glass announces more delays "The bid for construction will be advertised in January or February 2023".</li>

                        <li class="p-6">No response to emails in <strong>March 2023</strong> asking for an update.</li>

                        <li class="p-6">On <strong>June 1, 2023</strong>, The West Seattle Blog reported that after years of delays, both the Lincoln Park South project, and the Westcrest project have finally gone out to bid!. <a href ="https://westseattleblog.com/2023/06/followup-two-long-delayed-west-seattle-play-area-projects-finally-go-out-to-bid/" target="_blank">FOLLOWUP: Two long-delayed West Seattle play-area projects finally go out to bid</a></li>

                        <li class="p-6">On <strong>September 11, 2023</strong>, The West Seattle Blog reported that according to Karen O'Conner with parks, "For the South Lincoln park Play Area, and Westcrest Play Area replacement projects, we will negotiate a start date with the contractor this fall..."  Construction is now "likely" to start in <strong>winter 2023/early 2024</strong>. <a href ="https://westseattleblog.com/2023/09/followup-contractor-chosen-but-long-delayed-west-seattle-play-area-projects-wont-be-done-before-next-year/" target="_blank">FOLLOWUP: Contractor chosen. But long-delayed West Seattle play area projects won’t be done before next year.</a></li>

                        <li class="p-6">On <strong>March 25, 2024</strong>, The West Seattle Blog reported that Westcrest Park was ahead of schedule!<a href= "https://westseattleblog.com/2024/03/followup-westcrest-park-play-area-project-ahead-of-schedule/" target="_blank">FOLLOWUP: Westcrest Park play-area project ‘ahead of schedule’</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>

    <p class="small">Thanks to <a href="https://github.com/kpetersmark" target="_blank">@kpetersmark</a> for the timeline details for Westcrest Park.

  </div>
</div>

<div id="by-the-numbers" class="conatiner-fluid text-bg-success">
    <div class="container py-5">
        <h2 class="display-3 text-center">By The Numbers...</h2>
        <div class="row py-5">
            <div class="col border-end">
                <p class="h1 display-1 text-center">{{ page.delays}}</p>
                <p class="h3 text-center test-wrap"><small>delays since January 2021</small></p>
            </div>
            <div class="col">
                <p class="h1 display-1 text-center">{{ 1711350000 | date: "%s"| minus: 1610697600 | divided_by: 3600 | divided_by: 24 }}</p>
                <p class="h3 text-center text-wrap"><small>number of days the playarea was closed<br /><span class="fs-6">(January 2021 - March 25, 2024)</span></small></p>
            </div>
        </div>
    </div>
</div>

{% include how-to-help.html %}