<nav class="navbar navbar-expand-lg sticky-top bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll">
<!-- 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Parks
          </a>
          <ul class="dropdown-menu">
          	{% assign park = site.parks %}
          	{% for page in park %}
            <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% assign links = page.section-links %}
		{% for link in links %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.id }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>