<div id="by-the-numbers" class="conatiner-fluid text-bg-success">
	<div class="container py-5">
	    <h2 class="display-3 text-center">By The Numbers...</h2>
		<div class="row py-5">
			<div class="col border-end">
				<p class="h1 display-1 text-center">{{ site.data.numbers.number-of-delays }}</p>
				<p class="h3 text-center test-wrap"><small>delays since July 2017</small></p>
			</div>
			<div class="col border-end">
				<p class="h1 display-1 text-center">{{ site.time | date: "%s"| minus: 1499842800 | divided_by: 3600 | divided_by: 24 }}</p>
				<p class="h3 text-center text-wrap"><small>number of days since play area closure</small></p>
			</div>
			<div class="col">
				<p class="h1 display-1 text-center">1631</p>
				<p class="h3 text-center text-wrap"><small>average number of elementary aged students enrolled in neighborhood schools each year<span class="fs-6"> (Getewood, Arbor Heights, West Seattle Elem. and Roxhill)</span></small></p>
			</div>
		</div>
	</div>
</div>
