<div id="timeline" class="container-fluid">
  <div class="container py-5">

    <h2 class="display-3 text-center">Timeline</h2>
    <div class="container">
			<div class="row">
				<div class="col-9">
					<ul>
						<li class="p-6">The Play Area at Lincoln Park South was closed suddenly in <strong>July of 2017</strong> by Seattle Parks, citing safety issues.</li>

						<li class="p-6">In <strong>November of 2017</strong> Parks was hoping to start construction "next spring" <a href ="https://westseattleblog.com/2017/11/first-look-at-possibilities-for-lincoln-park-south-play-area-and-how-you-can-help-shape-its-future/" target="_blank">First look at possibilities for Lincoln Park South Play Area, and how you can help shape its future</a></li>

						<li class="p-6">In <strong>January of 2018</strong> Susanne Rockwell said "We're working in coordination ... we'll open it as soon as we can." At the time Parks hoped to put the project out to bid and start construction "this summer" maybe as early as late spring. <a href="https://westseattleblog.com/2018/01/marine-theme-wins-for-new-lincoln-park-south-play-area-and-you-still-have-time-to-have-a-say/" target="_blank">Marine theme wins for new Lincoln Park South Play Area – and you still have time to have a say</a></li>

						<li class="p-6">In <strong>November of 2018</strong> the "Fix It First" info board at Lincoln Park showed construction from "Spring 2018 - Summer 2018"</li>

						<li class="p-6">In <strong>April of 2019</strong> Karen O'Conner stated "We anticipate putting this out to bin in early summer and start construction in the summer." <a href="https://westseattleblog.com/2019/04/followup-updates-on-3-west-seattle-parks-play-area-projects/" target="_blank">Followup: Updates on 3 West Seattle parks' play-area projects.</a></li>

						<li class="p-6">In <strong>June of 2019</strong> Pamela Alspaugh said a team was working on Lincoln Park (which is "very far behind" but we are getting there) <a href ="https://westseattleblog.com/2019/06/fairmount-playground-south-play-area-renovation-options-for-equipment/" target="_blank">Fairmount Playground south play area renovation: See what's being considered</a></li>

						<li class="p-6">In <strong>September of 2019</strong>, Kim Baldwin updated the Southwest District Council with the news that the Lincoln Park South Play Area was in design, with work to start in the fall of 2020 <a href="https://westseattleblog.com/2019/09/park-project-updates-southwest-district-council/">Park-project updates @ Southwest District Council</a></li>

						<li class="p-6">In <strong>November of 2019</strong>, the Seattle Parks posted "This project has experienced some unforeseen delays. We anticipate the bid will be advertised in early 2020, with construction beginning in spring 2020."  Additionally Karen O'Conner said "Currently, Planning and Development has over six play area renovations going on across the city, and we've had to make some adjustments in our scheduling to ensure that all these projects can keep making progress." <a href ="https://westseattleblog.com/2019/11/followup-lincoln-park-south-play-area-project-delayed-again/" target="_blank">FOLLOWUP: Lincoln Park south play area project delayed again</a></li>

						<li class="p-6">In <strong>March of 2020</strong> COVID hit Seattle and all the playgrounds were roped off.  However the swings at Lincoln Park South were removed from their A frame, rather than being taped up like all the other swings in the park (and at adjacent parks), despite their near constant use even after the play structure was removed.</li>

						<li class="p-6">In <strong>March of 2020</strong> the "Fix It First" info board at Lincoln Park showed construction from "Spring Summer 2019" with an attached notice further delaying construction into Winter 2019/2020</li>

						<li class="p-6">In <strong>May of 2021</strong> the Parks Department project site indicated that the Lincoln Park construction was now set for later "this fall."  <a href ="https://westseattleblog.com/2021/05/westcrest-park-play-structure-closed-to-be-replaced/" target="_blank">Westcrest Park play structure closed, to be replaced</a></li>

						<li class="p-6">In <strong>April of 2022</strong> the project page claimed they received a building permit in March and expected to begin construction in "summer."</li>

						<li class="p-6">In <strong>May of 2022</strong> the "Fix It First" info board at Lincoln Park now displayed the construction window would be from "Fall/Winter 2021 - Early 2022" </li>

						<li class="p-6">In <strong>June of 2022</strong> Parks said of both Lincoln Park South, and Westcrest Park "Both projects will be bid together for construction by the same contractor. We anticipate the bid advertisement in summer 2022, with construction starting in fall 2022."  This also introduced a delay for the Westcrest project. <a href ="https://westseattleblog.com/2022/06/followup-new-timeline-for-lincoln-parks-long-closed-south-play-area/" target="_blank">FOLLOWUP: New timeline for Lincoln Park's long-closed South Play Area</a></li>

						<li class="p-6">In <strong>August of 2022</strong> the "Fix It First" info board at Lincoln Park showed construction from "Fall 2022 - Winter 2023" </li>

						<li class="p-6">in <strong>December of 2022</strong>, Parks updated the project website to say "We anticipate the bid advertisement in early 2023, with construction starting in spring 2023."</li>

						<li class="p-6">At the end of <strong>February 2023</strong>, the Fix It First info board at Lincoln Park still claims construction between Fall 2022 - Winter 2023.</li> 
					</ul>
				</div>
				<div class="col">
				<p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_0737.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">November, 2018</figcaption></figure></p>
				
				<p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_1952.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">March, 2020</figcaption></figure></p>
				
				<p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_4494.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">May, 2022</figcaption></figure></p>
				
				<p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5043.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">August, 2022</figcaption></figure></p> 
				
				<p><figure class="figure"><a href="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg"><img src="https://www.fauntleroy.net/assets/images/issues/lincoln-park-south-play-area-renovation/IMG_5754.jpg?nf_resize=smartcrop&w=150&h=150" class="figure-img img-fluid" /></a><figcaption class="figure-caption small">February, 2023</figcaption></figure></p>
				</div>
			</div>
		</div>
		<p>There are {{ site.data.numbers.number-of-delays }} delays included in the timeline above.</p>

  	<p class="small">Source: <a href="https://www.fauntleroy.net/issues/lincoln-park-south-play-area-closure/" target="_blank">Fauntleroy Community Association</a>
  </div>
</div>
