<div id="welcome" class="container-fluid text-bg-success">
  <div class="container py-5">
  
      <h2 class="display-3 text-center">Welcome</h2>
      <p>A half-generation of kids growing up near the South end of Lincoln Park have been without a playground they can easily access for almost six years. That is more that 2000 days!  Each time that Parks provides communication regarding this project it is only to push it back by another six months to a year.  Here we are now {{ site.data.numbers.number-of-delays }} updates later and we seem no closer to breaking ground on the promised play area replacement.</p>

      <p>It begs the question, is Seattle Parks being run in an efficient and effective manner.  How are our taxpayer dollars being spent?</p>
  </div>
</div>