<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	  {% if page.title %}
		<title>{{ page.title }}</title>
	  {% else %}
		<title>{{ site.title }}</title>
	  {% endif %}
		
		<meta name="description" content="{{ site.description }}" />
      {%- if page.keywords %}{%- assign keywords = page.keywords | concat: site.keywords %}
        <meta name="keywords" content="{{ keywords | uniq | join: ', ' }}" />
      {%- else %}
        <meta name="keywords" content="{{ site.keywords | uniq | join: ', ' }}" />
      {%- endif %}

	<!-- open-graph and twitter metadata -->
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="webpage" />
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="{{ site.url }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
	  {% if page.title %}
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:site_name" content="{{ page.title }}"> 
        <meta name="twitter:title" content="{{ page.title }}">
	  {% else %}
		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:site_name" content="{{ site.title }}"> 
        <meta name="twitter:title" content="{{ site.title }}">
	  {% endif %}	  
	  {% if page.description %}
		<meta property="og:description" content="{{ page.description }}">
		<meta name="twitter:description" content="{{ page.description }}">
      {% else %}
		<meta property="og:description" content="{{ site.description }}">
		<meta name="twitter:description" content="{{ site.description }}">
	  {% endif %}
	  {% if page.open-graph.image %}	
		<meta property="og:image" content="{{ site.url }}{{ page.open-graph.image }}" />
        <meta name="twitter:image" content="{{ site.url }}{{ page.open-graph.image }}">
      {% else %}
		<meta property="og:image" content="{{ site.url }}/assets/images/lincoln-park-south/IMG_5759.jpg" />
        <meta name="twitter:image" content="{{ site.url }}/assets/images/lincoln-park-south/IMG_5759.jpg">
      {% endif %}
      <!--
        <meta property="og:image:alt" content="" />
        <meta property="ogimage:width" content="">
        <meta property="ogimage:height" content="">
      -->
	<!-- end open-graph and twitter metadata -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" />
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        
	</head>


	<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true">
		{{ content }}


		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics-id }}"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', '{{ site.google-analytics-id }}');
		</script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>