---
layout: default
---


{{ content }}

<div id="footer" class="container-fluid text-bg-success">
  <div class="container py-5">
    <h2 class="display-6 text-center">WhereIsOurPlayground.org</h2>
    <hr />
    <div class="row">
      <div class="col-8">
        <p>Do you know of a park play area project that Seattle Parks has been delaying?</p>
        <p>Reach out to us on GitHub and let us know the details.</p>
        <p>We must hold Seattle Parks accountable.  Nobody else will.</p>
      </div>
      <div class="col-4">
        <a href ="https://github.com/thewellington/whereisourplayground.org" target="_blank">
        <button type="button" class="btn btn-warning">Fork this Repo on GitHub</button>
        </a>
      </dev>
    </div>
  </div>
</div>